extends layout

block content
	h1 Welcome to the Canary Islands!
	p The Canary Islands, also known as the Canaries (Spanish: Canarias), are a Spanish archipelago located just off the northwest coast of mainland Africa, 100 kilometres (62 miles) west of the southern border of Morocco. The Canaries are one of Spain's 17 autonomous communities and are among the outermost region of the European Union proper. The islands include (from largest to smallest): Tenerife, Fuerteventura, Gran Canaria, Lanzarote, La Palma, La Gomera, El Hierro, La Graciosa, Alegranza, Isla de Lobos, Montaña Clara and Roque del Oeste.
	img(src="http://holidays.monarch.co.uk/_global/images/destinations/gallery/w_ca_2007_01_gallery.jpg", alt="")
	a(href="/seville"): button.btn.btn-danger Go Back, I forgot my luggage!
	a(href="/capeverde"): button.btn.btn-danger Next Stop! 