extends layout

block content
	h1 Welcome to Cape Verde! 
	p Cape Verde, officially the Republic of Cabo Verde,[5] is an island country spanning an archipelago of 10 volcanic islands in the central Atlantic Ocean. Located 570 kilometres (350 miles) off the coast of Western Africa, the islands cover a combined area of slightly over 4,000 square kilometres (1,500 sq mi).
	img(src="http://cdn.screenrant.com/wp-content/uploads/the-muppets-green-lantern-poster.jpg", alt="It's not easy being verde")
	a(href="/canaryislands"): button.btn.btn-danger Go back, I forgot my canary!
	a(href="/straitofmagellan"): button.btn.btn-danger All Aboard, Strait ahead!