doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css")
		title Magellan's Voyage

	body
		.container
			img(src="http://fall2014.refactoru.com/public/img/magellan.gif", alt="", class='img-responsive')
			block content
		