extends layout

block content
	h1 Welcome to the Phillipines! 
	h2: strong (Watch out for the locals)
	p The Philippines, officially known as the Republic of the Philippines (Filipino: Repúblika ng Pilipinas), is a sovereign island country in Southeast Asia situated in the western Pacific Ocean. It consists of 7,107 islands that are categorized broadly under three main geographical divisions: Luzon, Visayas, and Mindanao. Its capital city is Manila while its most populous city is Quezon City; both are part of Metro Manila.
	img(src="http://th08.deviantart.net/fs19/PRE/f/2007/243/9/9/Rupert_Phillipines_flag_jacket_by_lillywmw.jpg", alt="locals")
	a(href="/guam"): button.btn.btn-danger Guam on back here!
	a(href="/"): button.btn.btn-danger I'm scared, I want to go home!