extends layout

block content
	h1 Strait into the Pacific!
	p The Strait of Magellan (Spanish: Estrecho de Magallanes), also called the Straits of Magellan, is a navigable sea route immediately south of mainland South America and north of Tierra del Fuego. The strait is the most important natural passage between the Atlantic and Pacific oceans but it is considered a difficult route to navigate because of the unpredictable winds and currents and the narrowness of the passage.
	img(src="http://www.reformation.org/en-strait-of-magellan.jpg", alt="")
	a(href="/capeverde"): button.btn.btn-danger Wait! I got to give the Green Lantern his cape back!
	a(href="/guam"): button.btn.btn-danger Chew gum on the way to Guam